 body {
  padding-top: 0px;
}
.main-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}
.main-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content:space-between;
  padding:0px 250px ;
}
.main-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-tabs{
  display: flex;
  flex-direction: row;
}
.main-tab{
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 10px;
  padding: 10px;
  background-color: aliceblue;
}
.main-filter-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: aliceblue;
}

.main-filter-item-data{
  margin: 10px;

}
/* Main container styles */
#mainbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

/* all questions */
.mainbar-container {

  display: flex;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* Main heading styles */
#mainbar h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

/* Ask Question button styles */
.mainbar-btn {
  padding: 10px 20px;
  background-color: #0095ff;
  color: #fff;
  border: 2px solid #007cd446;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

/* Filter navigation styles */
.uql-nav {
  display: flex;
  align-items: center;
}

.s-btn-group a, .s-btn-group button {
  margin-right: 16px;
  text-decoration: none;
  color: #333;
}

.s-btn-group .is-selected {
  background-color: #007cd446;
  color: #007cd4;
}

/* Filter form styles */
.s-expandable {
  margin-top: 20px;
}

/* Apply filter button styles */
.s-expandable--content button {
  margin-top: 16px;
  padding: 10px 20px;
  background-color: #0095ff;
  color: #fff;
  border: 2px solid #007cd446;
  border-radius: 3px;
  cursor: pointer;
}

/* Questions container styles */
.questions {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  justify-content: center;
  text-decoration: none;
}

/* Question item styles */
.question {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  text-align:center;
  justify-content: center;
}

/* Pagination styles */
.s-pagination {
  margin-top: 20px;
}

.s-pagination a, .s-pagination span {
  margin-right: 8px;
  padding: 8px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.s-pagination .is-selected {
  background-color: #007cd446;
  color: #007cd4;
  border: 1px solid #007cd4;
}

